.Polygon1-19 {
    background-image: url("/src/assets/svg/Polygon1-19.svg");
}
.Polygon20-39 {
    background-image: url("/src/assets/svg/Polygon20-39.svg");
}
.Polygon40-59 {
    background-image: url("/src/assets/svg/Polygon40-59.svg");
}
.Polygon60-69 {
    background-image: url("/src/assets/svg/Polygon60-69.svg");
}
.Polygon70-79 {
    background-image: url("/src/assets/svg/Polygon70-79.svg");
}
.Polygon80-89 {
    background-image: url("/src/assets/svg/Polygon80-89.svg");
}
.Polygon90-99 {
    background-image: url("/src/assets/svg/Polygon90-99.svg");
}
.Polygon100 {
    background-image: url("/src/assets/svg/Polygon100.svg");
}

.Polygon1-19mini {
    background-image: url("/src/assets/svg/Polygon1-19mini.svg");
}
.Polygon20-39mini {
    background-image: url("/src/assets/svg/Polygon20-39mini.svg");
}
.Polygon40-59mini {
    background-image: url("/src/assets/svg/Polygon40-59mini.svg");
}
.Polygon60-69mini {
    background-image: url("/src/assets/svg/Polygon60-69mini.svg");
}
.Polygon70-79mini {
    background-image: url("/src/assets/svg/Polygon70-79mini.svg");
}
.Polygon80-89mini {
    background-image: url("/src/assets/svg/Polygon80-89mini.svg");
}
.Polygon90-99mini {
    background-image: url("/src/assets/svg/Polygon90-99mini.svg");
}
.Polygon100mini {
    background-image: url("/src/assets/svg/Polygon100mini.svg");
}
